/* aldrich-regular - latin */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aldrich-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/aldrich-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/aldrich-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/aldrich-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/aldrich-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/aldrich-v11-latin-regular.svg#Aldrich') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #EC91E5, #7E4079);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#main {
  text-align: center;
  font-size: 4em;
  font-family: 'Aldrich', sans-serif;
  padding: 20px;
  margin: 0 auto;
  margin-top: 200px;
  color: #FFD4DC;
}
